* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
  background: #e1e4e7;
  height: 100%;
  width: 100%;
}

.header-container {
position: relative;
width: 100%;
height: 18vh;
background: #2DDB9C;
box-shadow: 0px 4px 4px rgba(92, 32, 32, 0.25);
color: #FFFFFF;
display: flex;
flex-direction: row;
justify-content: center;
}

.home {

width: 2vw;
height: 3.38vh;
align-items: center;
position: absolute;
top: 50%;
left: 90%;
transform: translate(-50%, -50%);

}

.title-job {


position: absolute;
width: 10.58vw;
height: 5.3vh;
left: 11.25vw;
top: 5.2vh;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 4vh;
}

.sair {
width: 3.2vw;
height: 3.6vh;
position: absolute;
top: 50%;
left: 95%;
transform: translate(-50%, -50%);
mix-blend-mode: normal;
border: 1px solid #FFFFFF;
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 7px;
}

.sair p {
font-family: Average Sans;
font-style: normal;
font-weight: normal;
font-size: 1.6vh;
color: #FFFFFF;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.perfil-empresa {
display: grid;
width: 20vw;
height: 25vh;
margin-left: 5vw;
margin-top: 6vh;
}

.header-back {
margin-top: 5vh;
margin-left: 5vw;
font-family: Average Sans;
font-style: normal;
font-weight: normal;
font-size: 3.6vh;
line-height: 5vh;

}

.perfil-foto img {
width: 5.5vw;
height: 11vh;
border-radius: 3vh;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

} 

.perfil-info {
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
margin-top: 0.8vh;

}

.button-atualizar button {
background: #2DDB9C;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;
width: 15vw;
height: 5.6vh;
color: white;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
cursor: pointer;
}

.empresa-info {
margin-top: 8vh;

font-style: normal;
font-weight: normal;
font-size: 3vh;
line-height: 3.5vw;
margin-left: 6vw;
}

.oportunidade-container {
position: absolute;
left: 47vw;
top: 24.5vh;
width: 50vw;
height: 60%;
display: flex;
flex-direction: column;

}

.fields-op {
  display: flex;
  flex-direction: row;
  grid-gap: 2vw;
}

.op-fields_nivel select, .op-fields_area select, .op-fields_localizacao input {
width: 13vw;
height: 4vh;
left: 47vw;
top: 40vh;
background: #F2F2F2;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;
margin-top: 2vh;
}

.op-title {
font-family: Average Sans;
font-style: normal;
font-weight: normal;
font-size: 3.03vh;
}

.op-descricao {
margin-top: 3vh;
font-family: Average Sans;
font-style: normal;
font-weight: normal;
font-size: 3.03vh;
}

#textarea {
width: 43vw;
height: 21vh;
background: #F2F2F2;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;
margin-top: 2vh;
}

.carregar {
  display: flex;
  flex-direction: row;
  grid-gap: 2vw;
  margin-top: 2vh;
}

.carregar p {
    margin-top: 2vh;
    margin-left: 12vw;
}

#enviar {
width: 10vw;
height: 6vh;
color:white;
background: #2DDB9C;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;
cursor: pointer;
}

#checkbox {
width: 1.3vw;
height: 3vh;
color: #2DDB9C;
border-radius: 5px;
margin-top: 2vh;
}

.perfil-profissional-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
}

.perfil-profissional-text {
margin-top: 4vh;
margin-bottom: 3vh;
font-family: Average Sans;
font-style: normal;
font-weight: normal;
font-size: 3.03vh;
}


.perfil-info img {
  width: 20%
}

.perfil-card {
position: relative;
width: 13.4vw;
height: 17vh;
background: #F2F2F2;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;
margin-bottom: 4vh;
}

.footer {
width: 25vw;
height: 3vh;
margin-top: 30vh;
position: relative;
font-family: Average Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;

}