* {
   justify-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 1.24;
}
h4{
  font-size: 12px;
}
.header_container {
position: relative;
width: 100vw;
height: 120px;
left: 0px;
top: 0px;
background: #0D4253;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_container .header {
position: absolute;
width: 40vw;
height: 35px;
left: 98px;
top: 35px;

color: #FFFFFF;
}
.barra-pesquisa input {
position: relative;
width: 40vw;
height: 30px;
left: 60vw;
top: 51px;
background: #FFFFFF;
border-radius: 6px;
}
.lupa img {
position: absolute;
width: 15px;
height: 15px;
left: 93%;
top: 61px;
}
.entrar button{
  width: 70px;
  border-radius: 6px;
  background-color: #0D4253;
}
.entrar{
  position: absolute;
width: 80px;
height: 23px;
left: 73%;
top: 23px;
}
.entrar .text_botao-0 {
  color: white;
}
.cadastro button{
  width: 200px;
  border-radius: 6px;
  background-color: white;
  
}
.cadastro{
  position: absolute;
width: 80px;
height: 23px;
left: 81%;
top: 23px;
}
.cadastro .text_botao-3{
  color: #0D4253;
}
.barra-pesquisa input {
position: absolute;
width: 615px;
height: 30px;
left: 50%;
top: 51px;
background: #FFFFFF;
border-radius: 6px;
}
.botao button{
display: flex;
position: absolute;
border: 0;
width: 683px;
height: 41px;
left: 0;
top: 120px;
background: #2F80ED;
box-shadow: 0px 4px 4px rgba(228, 222, 222, 0.25);
}
.text_botao6 {
  /* Candidatos */
position: relative;
width: 20px;
height: 26px;
left: 25vw;
top:5px;
text-align: center;
justify-items: center;
font-family: Average Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
/* identical to box height */
color: #F2F2F2;
}
.botao2 button{
/* Rectangle 10 */
position: relative;
width: 50vw;
height: 41px;
left: 50%;


/* Green */

background: #2DDB9C;
box-shadow: 0px 4px 4px rgba(239, 236, 236, 0.1);
}
.text_botao2 {
/* Empresas */
position: relative;
width: 20px;
height: 23px;
left: 25vw;
top:6px;

font-family: Average Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 2px;
/* identical to box height */


color: #f5f5f5;

}
.corpo_da_pag{
  height: auto;
  width: 1366px;
}
.corpo_da_pag img{
  position: relative;
  display:flex;
  width: 100vw ;
  height: 100%;

}
.texto_1{
  flex-grow: 10px;
  /* Busque uma oportunidade de emprego no Brasil */


position: absolute;
width: 45%;
height: 39px;
left: 45%;
top: 235px;

font-family: Average Sans;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;
}
.texto_2{
  /* Texto motivacional */


position: absolute;
width: 20%;
height: 127px;
left: 70%;
top: 457px;

font-family: Average Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;

color: #FFFFFF;
}

footer{
  /* Rectangle 2 */

width: 100vw;
position: absolute;

height: 78px;
left: 0px;
top:auto;

/* TopBar */

background: #0D4253;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.final{
  /* © 2021 - Job In Brazil */


position: absolute;

font-family: Average Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 23px;
/* identical to box height */
top:30px;
margin-left: 12px;
color: #FFFFFF;

}
.botao4 button{
  border: none;
}
.botao4{
  margin-left: 85vw;
  margin-top: 30px;
  border: none;
  color: #fff;
}
.botao4 .text_botao4{
  background: #0D4253;
  border: none;
}
/*@media (max-width: 798px){
  .header_container {
position: relative;
width: 100%;
height: 20%;
left: 0px;
top: 0px;
background: #0D4253;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
}*/