* {
   justify-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 1.24;
}
body{
  background: #E1E4E7;
}
.cabecalho{
position: relative;
background: #0D4253;
height: 103px;
}
.home {
position: absolute;
width: 2vw;
height: 3.38vh;
left: 1188px;
top: 40px; 

}
.logo{
  position: absolute;
  left:154px;
  top: 40px;
}
.seuperfil{
  font: Average Sans;
  font-size: 23px;
  margin-left: 155px;
  margin-top: 140px;
}

