* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
  background: #e1e4e7
;
  height: 100%;
  width: 100%;
}

.header-container {
position: absolute;
width: 1366px;
height: 120px;
left: 0px;
top: 0px;
background:  #125434;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #FFFFFF;
display: flex;
flex-direction: row;
}

.barra-pesquisa input {
position: absolute;
width: 396px;
height: 30px;
left: 457px;
top: 51px;
background: #FFFFFF;
border-radius: 6px;
}

.lupa img {
position: absolute;
width: 15px;
height: 15px;
left: 821px;
top: 61px;
}

.title-job {
position: absolute;
width: 290px;
height: 35px;
left: 153px;
top: 43px;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;
}

.home {
position: absolute;
width: 25px;
height: 22.29px;
left: 986px;
top: 55px;
}

.perfil {
position: absolute;
left: 1104px;
top: 53px;
display: flex;
flex-direction: row;
justify-content: center;
}

.perfil span {
position: relative;
margin-top: 1.2vh;
margin-left: 1vh;
}

.filter-card {
position: absolute;
width: 21.25vw;
height: 58vh;
left: 11.25vw;
top: 30vh;
background: #C4C4C4;
border-radius: 10px;
/* display: flex;
flex-direction: column; */

}

.field1 select, .field2 select, .field3 select, .field4 select {

align-items: center;
width: 18vw;;
height: 37px;
margin: 3vh;
margin-left: 3.6vh;
background: #F2F2F2;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;
font-family: Average Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #000000;
text-align: center;
}

.submit-card input {
width: 18vw;
height: 5vh;
left: 12.8vw;
top: 76vh;;
background: #27AE60;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;
color: white;
margin-left: 3.5vh;
margin-top: 2vh;
cursor: pointer;
}

.card-informacoes {
position: absolute;
width: 235px;
height: 32px;
left: 585px;
top: 200px;
}