* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
  background: #e1e4e7
;
  height: 100%;
  width: 100%;
}

.header-container {
position: absolute;
width: 100%;
height: 18vh;
left: 0px;
top: 0px;
background:  #125434;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #FFFFFF;
display: flex;
flex-direction: row;
}

.barra-pesquisa input {
position: absolute;
width: 29vw;
height: 4.5vh;
left: 33.06vw;
top: 7.7vh;
background: #FFFFFF;
border-radius: 6px;
}

.lupa img {
position: absolute;
width: 1.10vw;
height: 2.2vh;
left: 60vw;
top: 9.2vh;
}

.title-job {
position: absolute;
width: 21.3vw;
height: 5.31vh;
left: 11.25vw;
top: 6.5vh;

font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 47px;
}

.home {
position: absolute;
width: 2vw;
height: 3.38vh;
left: 72.5vw;
top: 8.3vh;
}

.perfil {
position: absolute;
left: 81vw;
top: 8vh;
display: flex;
flex-direction: row;
justify-content: center;
}

.perfil span {
position: relative;
margin-top: 1.2vh;
margin-left: 1vh;
}

.filter-card {
position: absolute;
width: 21.25vw;
height: 65vh;
left: 11.25vw;
top: 30vh;
background: #C4C4C4;
border-radius: 10px;
}

.filter-card p {
margin-left: 2vw;
margin-top: 2vh;
margin-bottom: 3vh;
}

.field4 select, .field3 select, .field2 input, .field1 select {

align-items: center;
width: 18vw;
height: 5.6vh;
margin: 1.4vh;
margin-left: 3.6vh;
background: #F2F2F2;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;
font-family: Average Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #000000;
text-align: center;
}

.submit-card input {
width: 18vw;
height: 5vh;
left: 12.8vw;
top: 76vh;;
background: #27AE60;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;
color: white;
margin-left: 3.5vh;
margin-top: 2vh;
cursor: pointer;
}

.card-informacoes {
position: absolute;
width: 45vw;
height: 70vh;
left: 88vh;
top: 14.2vw;
font-family: Average Sans;
font-style: normal;
font-weight: normal;
}

.title {
  margin-bottom: 4vh;
}

.title_texto {
  margin-top: 2vh;
}
.vector {

width: 46.13vw;
height: 0px;
left: 43vw;
top: 57vh;
margin-bottom: 4vh;
border: 1px solid #000000;
}

